/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
.DS_Store
.zip
/public/media
/public/junk
/public/docs
